version: 2
jobs:
    build:
      docker:
        - image: circleci/python:2.7.15-jessie-node-browsers
      working_directory: ~/repo
      steps:
        - checkout
        - run: 
            name: install pio
            command: |
              sudo pip install -U platformio
              platformio platform install espressif8266
        - run:
            name: run native tests
            command: pio test -e native

#- pio remote -a "remote-1" run -t upload
